<div class="modal-header">
    <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
    <form novalidate role="form" name="form">
        <div class="form-group"  ng-class="{'has-error': form.email.showError && form.email.$invalid}">
            <label class="control-label" for="forgotPasswordEmail">Email Address</label>
            <input type="email" class="form-control" id="forgotPasswordEmail" name="email" ng-model="forgot.email" required autofocus >
        </div>
    </form>
     <div class="alert alert-danger" ng-show="error==403">Unknown email.</div>
     <div class="alert alert-warning" ng-show="error && error!=403">Unknown Error. Please try again.</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
